/* APP NAV BAR STYLES */

  .app-nav-bar ul { list-style-type: none;  margin: 0;   padding: 0;
    overflow: hidden;  background-color: #333; }
  
  .app-nav-bar li { float: left;  border-right:1px solid #bbb; }
  
  .app-nav-bar li:last-child { border-right: none; }
  
  .app-nav-bar li a { display: block; color: white;  text-align: center;
    padding: 14px 16px; text-decoration: none; }
  
  .app-nav-bar li a:hover:not(.active) { background-color: #111; }
  
  .app-nav-bar .active {  background-color: #4CAF50; }
  
  .app-nav-bar .app-nav-brand { color: white; display: block; text-align: center;
      padding: 14px 16px; font-weight: bold; text-decoration: none; }
  
  .app-nav-bar .app-nav-user-info { color: white; display: inline-block; padding-top: 4px; }
  .app-nav-bar .app-nav-user-info a { padding: 0px; padding-left: 10px; text-align: right; font-size: smaller; }

/* FORM STYLEING */

* {box-sizing: border-box} 
.container { max-width: 800px; margin-left: auto; margin-right: auto; } 
input[type=text], input[type=password] { 
    width: 100%; padding: 15px; margin: 5px 0 22px 0; 
    display: inline-block; border: none; 
    background: #f1f1f1; 
} 

input[type=text]:focus, input[type=password]:focus {
     background-color: #ddd; outline: none;
} 

hr { 
    border: 1px solid #f1f1f1; 
    margin-bottom: 25px;
} 

button { 
    background-color: #4CAF50; color: white; padding: 14px 20px; margin: 8px 0; 
    border: none; cursor: pointer; width: 100%; opacity: 0.9; 
}

button:hover { opacity:1; } 
.cancelbtn { padding: 14px 20px; background-color: #f44336; } 
.cancelbtn, .signupbtn { float: left; width: 50%; } 

.container { padding: 16px; }
.clearfix::after { content: ""; clear: both; display: table; }
@media screen and (max-width: 300px) { 
    .cancelbtn, .signupbtn, .loginBtn { width: 100%; } 
}